.gcode-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: auto;
  }
  
  .gcode-editor .ace_editor {
    width: 100%;
    max-width: 800px; 
    height: 500px; 
    border: 1px solid #d4d4d4;
    margin-bottom: 20px;
  }
  
  .save-section button {
  
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .save-section input[type="text"] {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .gcode-editor .save-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%; 
    flex-wrap: wrap;
  }
  
  
  @media (max-width: 600px) {
    .gcode-editor .ace_editor {
      height: 300px; 
      max-width: 350px
    }
    
    .gcode-editor button {
      font-size: 14px;
    }
  
    .gcode-editor input[type="text"] {
      font-size: 14px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  
  }
  
  /* Zusätzliche Stile für die Syntaxhervorhebung, falls nötig */
  .gcode-editor .ace_command {
    color: blue;
    font-weight: bold;
}

.gcode-editor .ace_parameter {
    color: orange;
    font-weight: bold;
}

.gcode-editor .ace_error {
    background-color: yellow;
    color: red;
    font-weight: bold;
    padding: 0 4px; /* Hinzufügen von Padding, um den Fehler besser hervorzuheben */
    border-radius: 4px; /* Abgerundete Ecken für die Fehlermarkierung */
}

.gcode-editor .ace_comment {
    color: green;
    font-style: italic;
}

.gcode-editor .ace_interpolation {
    color: orange;
    font-weight: bold;
}

.gcode-editor .ace_radius, .gcode-editor .ace_feedrate,
.gcode-editor .ace_speed, .gcode-editor .ace_axis_a {
    color: green;
    font-weight: bold;
}


.gcode-editor .ace_radius {
    color: darkred;
    font-style: oblique; /* Leicht geneigte Schriftart für Radiuswerte */
}

.gcode-editor .ace_home {
    color: darkblue;
    background-color: lightblue;
    font-weight: bold;
    border-left: 3px solid darkblue; /* Linke Grenze zur Markierung der Home-Befehle */
    padding-left: 5px; /* Zusätzliches Padding für bessere Lesbarkeit */
}

.gcode-editor .ace_greifer {
    color: chocolate;
    background-color: beige;
    font-weight: bold;
    text-decoration: overline; /* Überstrich zur Hervorhebung von Greiferbefehlen */
}
