.dark-mode {
    background-color: #333;
    color: white;
  }
.dark-mode2{
    animation: rainbow-bg 2.5s linear;
    animation-iteration-count: infinite;
}

 /* Definieren Sie den Anfangs- und Endzustand der Animation */
.slide-down-enter {
    transform: translateY(-10%);
    opacity: 0;
  }
  
  .slide-down-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  /* Optional: Definieren Sie, wie die Komponente das DOM verlässt */
  .slide-down-exit {
    opacity: 1;
  }
  
  .slide-down-exit-active {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
/* Erweiterungsanimation */
.rainbow-bg{
    animation: rainbow-bg 2.5s linear;
    animation-iteration-count: infinite;
}

.rainbow{
    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}


.custom-button {
    padding: 7px 2px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #000000;
    transition: 0.5s ease;
    user-select: none;
  }
  
  .custom-button:active {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 10px #008cff, 0 0 10px #008cff,
      0 0 20px #008cff;
  }
  